<div class="grid-container" *ngIf="book">
    <div class="item1">
        <br>
        <div>
            <h1 style="font-size:xx-large; font-weight: bold;">{{ book.title }}</h1>
        </div>
        <div>
            <h2 style="font-weight: lighter; font-size: x-large;">{{ book.author }}</h2>
        </div>
        <div>
            Average Rating
        </div>
        <br>
        <div>
            <h3>{{ book.description }}</h3>
        </div>
        <div>
            <strong>Tags:</strong>
            <span *ngFor = "let tag of book.tags" style="padding: 5px;">
                <span
                    style="width:auto; display: inline; color: black;"
                >
                    {{ tag }}
                </span>
            </span>
        </div>
    </div>
    <div class="item2">
        <br>
        <img mat-card-image id ="bookImage" data-mb-toggle="popover" title="test" [src]="book.image">
        <br>
        <br>
        <div *ngIf="readingList$ | async as readingList">
            <button *ngIf="!readingList.hasBook(book.id); else removeButton"
                type="button"
                mat-raised-button color='primary'
                style="width:280px"
                (click)="addToReadingList()"
            >
                Add to reading list
            </button>
            <ng-template #removeButton>
                <button
                type="button"
                mat-raised-button
                style="width:280px"
                (click)="deleteFromReadingList()"
            >
                Remove from reading list
            </button>
            </ng-template>
        </div>
        <br>
        <div>
            <button
                type="button"
                mat-raised-button color='primary'
                style="width:280px"
                (click)="openDialog()"
            >
                Recommend a tag
            </button>
        </div>
    </div>
    <div class="item3"><br>Reviews</div>
</div>