<mat-toolbar style="margin-bottom: 10px;">
  <mat-toolbar-row>
    <mat-icon [routerLink]="appUser ? '/books' : '/'">home</mat-icon>
    <span class="example-spacer"></span>
    <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
      <mat-icon>more_vert</mat-icon>
    </button>
    <mat-menu #menu="matMenu" >
      <button mat-menu-item routerLink="/reading-list" *ngIf="appUser">
        <span>Reading List</span>
      </button>
      <button mat-menu-item routerLink="/my-requests" *ngIf="appUser">
        <span>Book Requests</span>
      </button>
      <button mat-menu-item (click) = "logout()" *ngIf="appUser">
        <span>Log out</span>
      </button>
      <button mat-menu-item routerLink="/login" *ngIf="!appUser">
        <span>Log in</span>
      </button>
      <button mat-menu-item routerLink="/signup" *ngIf="!appUser">
        <span>Sign up</span>
      </button>
    </mat-menu>
  </mat-toolbar-row>
</mat-toolbar>