<book-search></book-search>
<div class="content">
    <div fxLayout="row wrap" fxLayoutGap="16px grid" style="display: flex; flex: 1 1 auto;">
        <div fxFlex="25%" fxFlex.xs="100%" fxFlex.sm="33%" *ngFor="let book of filteredBooks">
        <mat-card class="mat-elevation-z4">
          <img mat-card-image [src]="book['image']">
          <mat-card-content>
            <p>
              {{ book['title'] }}
            </p>
          </mat-card-content>
        </mat-card>
      </div>
    </div>
</div>