mat-toolbar {
    justify-content: space-between;
}

.content {
    padding: 16px;
}

.content > mat-card {
    margin-bottom: 16px;
}

#Bookimage {
    width: 232px;
    height: 332px;
    padding-left: 5px;
    padding-top: 5px;
  
  }