<form [formGroup]="signupForm" (ngSubmit)="onSubmit()">
    <div class="mb-3">
        <label for="name">Name</label>
        <input type="text" formControlName="name" class="form-control" />
        <div *ngIf="
                name?.touched && 
                name?.hasError('required')">
                Name is <strong>required</strong>
        </div>
    </div>
    <div class="mb-3">
        <label for="email">Email</label>
        <input type="email" autocomplete="email" formControlName="email" class="form-control" />
        <div *ngIf="
                email?.touched &&
                email?.hasError('required')">
                Email is <strong>required</strong>
        </div>  
        <div *ngIf="
                email?.touched &&
                email?.hasError('email') &&
                !email?.hasError('required')">
                Please enter a <strong>valid</strong> email address
        </div>
    </div>
    <div class="mb-3">
        <label for="password">Password</label>
        <input type="password" formControlName="password" autocomplete="new-password" class="form-control" />
        <div *ngIf="
                password.touched &&
                password.hasError('required')">
                Password is <strong>required</strong>
        </div>
        <div *ngIf="
                password?.touched &&
                password?.hasError('minlength') &&
                !password?.hasError('required')
                ">
                Password should be alteast <strong>5 characters</strong>
        </div>
    </div>
    <div class="mb-3">
        <label for="confirmPassword">Confirm Password</label>
        <input type="password" autocomplete="new-password" formControlName="confirmPassword" class="form-control" />
        <div *ngIf="
                confirmPassword.touched &&
                confirmPassword?.hasError('required')">
                Confirm Password is <strong>required</strong>
        </div>
        <div *ngIf="
                confirmPassword.touched &&
                signupForm.hasError('passwordMismatch') &&
                !signupForm.get('confirmPassword')?.hasError('required')
                ">
                Password and Confirm Password must be <strong>same</strong>
        </div>
    </div>
    <button
        class="btn btn-primary"
        type="submit"
        [disabled]="!signupForm.valid"
    >
        Signup
    </button>
</form>