
    <div class="col-md-12" style="padding: 10px;">
        <form #f="ngForm">
            <div style="text-align: center; font-size: 20px;">Request Tag</div><br>
            <div class="form-group">
                <label for="university">University</label>
                <select ngModel name="university" id="university" class="form-control" #university="ngModel" (ngModelChange)="updateCourses(university.value)" required>
                    <option value=""> </option>
                    <option *ngFor="let university of universities" [value]="university['id']">
                        {{  university['name']  }}
                    </option>
                </select>
            </div>
            <br>
            <div class="form-group">
                <label for="course">Course</label>
                <select ngModel name="course" id="course" class="form-control" #course="ngModel" required>
                    <option value=""> </option>
                    <option *ngFor="let course of courses$ | async" [value]="course['name']">
                        {{  course['name']  }}
                    </option>
                </select>
            </div>
        

            <mat-dialog-actions style="padding: 5px;">
                <button
                    mat-raised-button color='primary'
                    (click)="close()"
                > Close
                </button>
                <button
                    mat-raised-button color='primary'
                    (click)="save(f.value)"
                > Request
                </button>
            </mat-dialog-actions>
        </form>