<ng-container *ngIf="(universities$ | async) as universities">
  <ng-container *ngIf="searchMode === 'byTitle'; else byUniversity">
    <mat-form-field>
      <input matInput type="text" placeholder="Search by title" [(ngModel)]="searchTerm" name="searchTerm" data-testid="search-title">
    </mat-form-field>
  </ng-container>

  <ng-template #byUniversity>
    <mat-form-field class="col2">
      <mat-select [(ngModel)]="searchTerm" name="searchTerm" data-testid="search-university">
        <mat-option value="">Select university</mat-option>
        <mat-option *ngFor="let university of universities" [value]="university['code']">
          {{ university['name'] }}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </ng-template>

  <mat-form-field appearance="outline">
    <mat-label>Search by:</mat-label>
    <mat-select [(ngModel)]="searchMode" name="searchMode" (selectionChange)="setSearchMode($event.value)" data-testid="search-mode">
      <mat-option value="byTitle">Title</mat-option>
      <mat-option value="byUniversity">University</mat-option>
    </mat-select>
  </mat-form-field>

  <button mat-button color="primary" type="submit" (click)="onSubmit()" data-testid="search-btn">Search</button>
  <button mat-button color="basic" type="button" (click)="onClear()" data-testid="clear-btn">Clear</button>
</ng-container>