<div class="untitled-page root" *ngIf="reviews">
    <div class="wrapper">
    <section class="box">
        <div style="text-align: center;">
        <h2>Ratings &amp; Reviews</h2>
        </div>
        <div class="wrapper2">
        <h5 class="highlights">Summary</h5>
        <div class="wrapper3" style="width: ...; margin: 0 auto;">
            <div class="cell">
            <div class="wrapper4">
                <ng-container *ngFor="let ratingStat of ratingStats.slice().reverse(); let ratingVal=index">
                    <div class="wrapper8">
                        <div class="wrapper6">
                            <div class="wrapper61">
                                {{ 5-ratingVal }}
                            </div>
                        </div>
                        <div class="cell" style="padding-left: 5px;">
                            <div fxLayout="row" fxLayoutGap="15px" fxLayoutAlign="start center" fxLayoutW >
                            <mat-progress-bar fxFlex mode="determinate" [value]="convertToPercent(ratingStat)"></mat-progress-bar>
                            <span class="text" style="font-size: smaller; color: rgb(139, 139, 139);">{{ratingStat}} ({{convertToPercent(ratingStat)}}%)</span>
                            </div>
                        </div>
                    </div>
                 </ng-container>
            </div>
            </div>
            <div class="spacer" style="width: 230px;"></div>
            <div class="cell1">
            <div class="wrapper9">
                <div class="wrapper91">
                <div class="wrapper10">
                    <h2 class="wrapper12" style="padding-bottom: 0; padding-left: 20px; height: 0;">
                        {{ calculateAverageRating() }}
                        <mat-icon style="color: rgb(167, 123, 2);">star</mat-icon>
                    </h2>
                </div>
                <div class="info" style="padding-left: 17px;">{{ reviews.length }} Reviews</div>
                </div>
            </div>
            </div>
        </div>
        </div>
        <div class="wrapper121">
        <div style="text-align: center;">
            <button
                style="width:870px; height: 50px;"
                mat-flat-button color="primary"
                (click)="openDialog()"
            >
                Write a review
            </button>
        </div>
        </div>
    </section>
    <section class="box1">
        <hr size="1" class="line" />
        <div class="box2" *ngFor="let review of reviews">
            <div class="wrapper131">
                <div class="wrapper14" style="padding-top: 5px; padding-bottom: 5px;">
                    <div class="wrapper151"><div class="wrapper152" style="font-size: larger;">{{ review.reviewer }}</div></div>
                    <div class="spacer4" style="width: 20px;"></div>
                    <div class="cell2" style="width:124px;">
                    
                        <ng-container *ngFor="let i of [0, 1, 2, 3, 4]">
                            <mat-icon style="color: rgb(167, 123, 2); display: inline-block;">
                              {{ i < review.rating ? 'star' : 'star_border' }}
                            </mat-icon>
                        </ng-container>
                </div>
                <div class="spacer1" style="width: 560px;"></div>
                <div style="text-align: right; font-size: small;">{{ review.date.toDate() | date: 'mediumDate' }}</div>
                </div>
                <hr size="0" class="line3" align="center" style="padding: 0; margin: 0;"/>
                <p class="wrapper153" style="padding-left: 10px; padding-top: 5px;">
                    {{ review.text }}
                </p>
                <div class="wrapper16">
                <div class="wrapper17" style="padding-left: 10px">
                    
                    <div class="wrapper154"><mat-chip-option color="warn" style="padding-top: 5px;" (selectionChange)="likeInteraction($event, review)"><mat-icon style="color:rgb(87, 87, 87); vertical-align: middle; padding: 0px 30px 30px 0px;">thumb_up</mat-icon>{{review.likes.length}}</mat-chip-option></div>
                    <div class="wrapper156"><mat-chip-option style="padding-top: 5px;"><mat-icon style="color:rgb(87, 87, 87); vertical-align: middle; padding-bottom: 30px;"> comment</mat-icon></mat-chip-option></div>
                </div>
                </div>
            </div>
        </div>
    </section>
    </div>
</div>
